/* Styles for the general looks of the Team Page mod.
------------------------------------------------------- */

.tp_blocks
{
	width: 49.5%;
	float: left;
}
.tp_blocks + .right
{
	float: right;
}
.tp_blocks + .left
{
	float: left;
}

.tp_nblock
{
	width: 100%;
	float: none;
}

.tp_avatar
{
	float: left;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 100%;
}
.tp_avatar img
{
	border: 3px solid rgba(255,255,255,0.30);
	width: 70px;
	height: 70px;
	border-radius: 100%;
}

.tp_leftcontent
{
	float: left;
	margin: 0 25px 0 20px;
	text-align: center;
}
.tp_user_information
{
    margin-bottom: 15px;
    margin-left: 15px;
}
img.tp_imgs
{
	vertical-align: middle;
	padding: 3px 0;
}

dl.tp_boards
{
	clear: right;
}
dl.tp_boards dt {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
}
dl.tp_boards dd {
    float: left;
    margin: 2px 0 0;
    padding: 0;
}

@media screen and (max-width: 968px)
{
	.tp_blocks
	{
		width: 100%;
		float: none;
	}
	.tp_blocks + .right, .tp_blocks + .left
	{
		float: none;
	}
}